.app-ace-editor {
    border: 1px solid #dadadb;
    border-radius: 4px;
    width: 884px;
    height: 453px;
    //box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    &--valid{
      border: 1px solid #dadadb;
    }
    &--error{
      border: 1px solid red;
    }
  }